    <!--<article class="card mb-2">
        <div class="card-body">
            <p>{{this.nombre}}</p>
            <p>{{this.apellido}}</p>
            <a href="eliminar/{{this._id}}" class="btn btn-danger">Eliminar</a>
            <a href="editar/{{this._id}}" class="btn btn-warning">Editar</a>
            <button data-short="{{this.email}}" href="#" class="btn btn-info">Copiar</button>
        </div>
    </article>-->

    <link rel="stylesheet" href="../css/miCuenta.css">
    <title>Editar mis datos personales</title>

    <div class="datosCuenta"> 
                <form action="" method="get">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
                    <h1>Editar mis datos personales</h1>
                    <div>
                        {{#each personaldatas}}
                        <h3>Datos Personales</h3>
                        <a href="editar/{{this._id}}"><img src="../img/Iconos/pencil-square.svg"></a>
                        <label>Nombre</label>
                        <input type="text" name="nombre" value={{this.nombre}}>
                        <label>Apellido</label>
                        <input type="text" class="apellido" name="apellido" value={{this.apellido}}>
                        <label>Teléfono</label>
                        <input type="text" name="telefono" value={{this.telefono}}>
                        <label>Código Pos</label>
                        <input type="text" name="cp" value={{this.cp}}>
                        <label>Dirección(calle)</label>
                        <input type="text" name="calle" value={{this.calle}}>
                        <label>Altura</label>
                        <input type="text" name="altura" value={{this.altura}}>
                        <span>-</span>
                        <button class="guardar">Guardar</button>
                    </div>
                    {{/each}}
                </form>
        </div>