<link rel="stylesheet" href="../css/cronologico.css">
<header>
    <a class="otro" href="/elegirPlantilla/soloElegirPlantilla">⤺Cambiar diseño</a>
    <a class="otro" href="/elegirPlantilla/imprimirCronologico">⭳Descargar</a>
</header>
<main>
    <div class="container">
        <form action="" method="get">
            <div class="izquierda">
                {{#each user}}
                    <img src="../img/perfiles/{{this.imagen}}" class="perfilImg">
                {{/each}}
                <h3>Curriculum vitae</h3>
                <hr class="hrDatos">
                <h2>Datos personales</h2>
                {{#each personal}}
                    <table>
                        <tr>
                            <th class="icon"><img src="../img/Iconos/person (1).svg"></th>
                            <th><p>{{this.nombre}} {{this.apellido}}</p></th>
                        </tr>
                    </table>
                {{/each}}
            <table>
            <table>
                {{#each user}}
                    <tr>
                        <th class="icon"><img src="../img/Iconos/mail.svg"></th>
                        <th><p>{{this.email}}</p></th>
                    </tr>
                {{/each}}
            </table>
            {{#each personal}}
                <table>
                    <tr>
                        <th class="icon"><img src="../img/Iconos/tel.svg"></th>
                        <th><p>{{this.telefono}}</p></th>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th class="icon"><img src="../img/Iconos/geo.svg"></th>
                        <th><p>{{this.calle}} {{this.altura}}, {{this.pais}}</p></th>
                    </tr>
                </table>
            {{/each}}
            
            {{#each laboralData}}
                <hr class="hrIdiomas">
                <h2>IDIOMAS</h2>
                <ul>
                    <li>
                        <table>
                            <tr>
                                <th><p>{{this.idioma}}</p></th>
                                <th class="alineacionFin"><p>{{this.nivel}}</p></th>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <table>
                            <tr>
                                <th><p>{{this.idioma2}}</p></th>
                                <th class="alineacionFin"><p>{{this.nivel2}}</p></th>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <table>
                            <tr>
                                <th><p>{{this.idioma3}}</p></th>
                                <th class="alineacionFin"><p>{{this.nivel3}}</p></th>
                            </tr>
                        </table>
                    </li>
                </ul>
            {{/each}}
            </div>

            <div class="derecha"> 
                <h2 class="titulo">Perfíl</h2>
                {{#each descripcionData}}
                    <p class="pDescripcion">{{this.descripcionPerfil}}</p>
                {{/each}}
                <hr>

                <h2 class="margen">Experiencia</h2>
                {{#each laboralData}}
                    <table>
                        <tr>
                            <th class="formacionFecha">
                                <p>{{this.desde}} - {{this.hasta}}</p>
                            </th>
                            <th  class="conPadding"><p>{{this.puesto}}</p></th>
                        </tr>
                        <tr>
                            <th class="formacionFecha"><p></p></th>
                            <th  class="conPadding"><p>{{this.empresa}}</p></th>
                        </tr>
                        <tr>
                            <th class="formacionFecha"><p></p></th>
                            <th  class="conPadding"><p>{{this.descripcion}}</p></th>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <th class="formacionFecha">
                                <p>{{this.desde2}} - {{this.hasta2}}</p>
                            </th>
                            <th  class="conPadding"><p>*Puesto*</p></th>
                        </tr>
                        <tr>
                            <th class="formacionFecha"><p></p></th>
                            <th  class="conPadding"><p>{{this.empresa2}}</p></th>
                        </tr>
                        <tr>
                            <th class="formacionFecha"><p></p></th>
                            <th  class="conPadding"><p>{{this.descripcion2}}</p></th>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <th class="formacionFecha">
                                <p>{{this.desde3}} - {{this.hasta3}}</p>
                            </th>
                            <th  class="conPadding"><p>*Puesto*</p></th>
                        </tr>
                        <tr>
                            <th class="formacionFecha"><p></p></th>
                            <th  class="conPadding"><p>{{this.empresa3}}</p></th>
                        </tr>
                        <tr>
                            <th class="formacionFecha"><p></p></th>
                            <th  class="conPadding"><p>{{this.descripcion3}}</p></th>
                        </tr>
                    </table>
                    <hr>

                    <h2 class="margen">Formación</h2>
                    <table>
                        <tr>
                            <th class="formacionFecha"><p>{{this.finalizado}}</p></th>
                            <th  class="conPadding"><p>{{this.carrera}}</p></th>
                        </tr>
                        <tr>
                            <th class="formacionFecha"><p></p></th>
                            <th  class="conPadding"><p>{{this.instituto}}</p></th>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <th class="formacionFecha"><p>{{this.finalizado2}}</p></th>
                            <th  class="conPadding"><p>{{this.carrera2}}</p></th>
                        </tr>
                        <tr>
                            <th class="formacionFecha"><p></p></th>
                            <th  class="conPadding"><p>{{this.instituto2}}</p></th>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <th class="formacionFecha"><p>{{this.finalizado3}}</p></th>
                            <th  class="conPadding"><p>{{this.carrera3}}</p></th>
                        </tr>
                        <tr>
                            <th class="formacionFecha"><p></p></th>
                            <th  class="conPadding"><p>{{this.instituto3}}</p></th>
                        </tr>
                    </table>
                {{/each}}
            </div>
        </form>
    </div>
</main>



