<style>
    *{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
main{
    min-width: 1240px;
    max-width: 1240px;
    height: 1380px;
    min-height: 1380px;
    margin-left: auto;
    margin-right: auto;
}
.container{
    height: 100%;
}
.izquierda{
    text-align: center;
    float: left;
    width: 30%;
    height: 94.3%;
    color: white;
    background-color:rgb(45, 50, 96);
}
.izquierda h3{
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 7vh;
    font-weight: lighter;
}
.izquierda ol li {
    margin-bottom: 5vh;
}
.perfilImg{
    margin-bottom: 2vh;
    width:100%;
    background-color: rgb(158, 153, 153);
}
.izquierda h2{
    font-weight: bolder;
    margin-bottom: 2vh;
    margin-top: 10vh;
    text-align: start;
    color: white;
}
.izquierda p{
    color: white;
    font-size: 20px;
}
.izquierda table, .izquierda h2, .izquierda hr{
    padding-left: 20px;
    padding-right: 20px;
}
.izquierda hr{
    width: 90%;
}
p{
    font-size: 20px;
}
.hrDatos{
    float: right;
    width: 39%;
    height: 2px;
    background-color: white;
    border: none;
    margin-top: 5vh;
}
.hrIdiomas{
    float: right;
    width: 60%;
    height: 2px;
    background-color: white;
    border: none;
    margin-top:12vh;
}
.datos{
    font-weight: lighter;
}
.apellido{
    margin-bottom: 7vh;
}
.derecha{
    float: right;
    width: 70%;
    height: 100%;
    text-align: justify;
    padding-top: 2vh;
    padding-right: 10vh;
    padding-left: 6vh;
    color: black;
}
.conPadding{
    padding-left: 3vh;
}
.black{
    color: rgb(57, 55, 55);;
}
.titulo{
    margin-top: 5vh;
}
.derecha h2{
    margin-top: 5vh;
}
hr{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 1px;
    border: none;
    background-color: rgb(230, 224, 224);
}
.derecha table{
    padding-bottom: 50px;
}
.derecha th{
    padding-bottom: 1vh;
}
.pDescripcion{
    padding-top: 4vh;
    padding-bottom: 10vh;
}
li{
    list-style: none;
    padding-bottom: 1vh;
}
table{
    width: 100%;
    height: auto;
    padding-bottom: 1vh;
}
tr{
    padding-bottom: 1.5vh;  
}
.icon{
padding-top: 3vh;
}
.alineacionFin{
    text-align: end;
    float: right;
}
.nombre{
    background-color: aquamarine;
    clear: both;
    width: 30%;
    height: 100px;
    background-color:rgb(45, 50, 96);
    padding-top: 50px;
}
.nombre h1{
    width: 300%;
    height: 100px;
    padding-top: 5px;
    background-color: white;
    margin-bottom: 0%;
    padding-bottom: 0;
}
p{
    text-align: start;
}
.margen th{
    margin-bottom: 3vh;
}
.margen{
    margin-bottom: 3vh;
}
.tableContacto{
    padding-bottom: 3vh;
}
.formacionFecha{
    width: 130px;
}
</style>


<title>Diseño Mixto</title>
<main>
    <div class="container">
        <form action="" method="get">
            <div class="nombre">
                {{#each personal}}
                    <h1>{{this.nombre}} {{this.apellido}}</h1>
                {{/each}}
            </div>
            <div class="izquierda">
                {{#each user}}
                    <img src="../img/perfiles/{{this.imagen}}" class="perfilImg">
                {{/each}}

                {{#each personal}}
                    <h2>Datos personales</h2>
                    <hr>
                    <table>
                        <tr>
                            <th class="icon"><p>Nombre</p></th>
                        </tr>
                        <tr>
                            <th><p><p>{{this.nombre}} {{this.apellido}}</p></p></th>
                        </tr>
                    </table>
                {{/each}}
                {{#each user}}
                    <table>
                        <tr>
                            <th class="icon"><p>Correo electrónico</p></th>
                        </tr>
                        <tr>
                            <th><p>{{this.email}}</p></th>
                        </tr>
                    </table>
                {{/each}}
                {{#each personal}}
                    <table>
                        <tr>
                            <th class="icon"><p>Telefono</p></th>
                        </tr>
                        <tr>
                            <th><p>{{this.telefono}}</p></th>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <th class="icon"><p>Dirección</p></th>
                        </tr>
                        <tr>
                            <th><p>{{this.calle}} {{this.altura}}, {{this.pais}}</p></th>
                        </tr>
                    </table>
                {{/each}}
            
                {{#each laboralData}}
                    <h2>IDIOMAS</h2>    
                    <hr>
                    <ul>
                        <li>
                            <table>
                                <tr>
                                    <th><p>{{this.idioma}}</p></th>
                                    <th class="alineacionFin"><p>{{this.nivel}}</p></th>
                                </tr>
                            </table>
                        </li>
                        <li>
                            <table>
                                <tr>
                                    <th><p>{{this.idioma2}}</p></th>
                                    <th class="alineacionFin"><p>{{this.nivel2}}</p></th>
                                </tr>
                            </table>
                        </li>
                        <li>
                            <table>
                                <tr>
                                    <th><p>{{this.idioma3}}</p></th>
                                    <th class="alineacionFin"><p>{{this.nivel3}}</p></th>
                                </tr>
                            </table>
                        </li>
                    </ul>
                {{/each}}
            </div>

            <div class="derecha"> 
                <h2 class="titulo">Perfíl</h2>
                <hr>
                {{#each descripcionData}}
                    <p class="pDescripcion">{{this.descripcionPerfil}}</p>
                {{/each}}
            
                {{#each laboralData}}
                    <h2 class="margen">Experiencia</h2>
                    <hr>
                    <table>
                        <tr>
                            <th class="formacionFecha"><p>{{this.desde}} - {{this.hasta}}</p></th>
                            <th  class="conPadding"><p>{{this.puesto}}</p></th>
                        </tr>
                        <tr>
                            <th class="formacionFecha"><p></p></th>
                            <th  class="conPadding"><p>{{this.empresa}}</p></th>
                        </tr>
                        <tr>
                            <th class="formacionFecha"><p></p></th>
                            <th  class="conPadding"><p>{{this.descripcion}}</p></th>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <th class="formacionFecha"><p>{{this.desde2}} - {{this.hasta2}}</p></th>
                            <th  class="conPadding"><p>{{this.puesto2}}</p></th>
                        </tr>
                        <tr>
                            <th class="formacionFecha"><p></p></th>
                            <th  class="conPadding"><p>{{this.empresa2}}</p></th>
                        </tr>
                        <tr>
                            <th class="formacionFecha"><p></p></th>
                            <th  class="conPadding"><p>{{this.descripcion2}}</p></th>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <th class="formacionFecha"><p>{{this.desde3}} - {{this.hasta3}}</p></th>
                            <th  class="conPadding"><p>{{this.puesto3}}</p></th>
                        </tr>
                        <tr>
                            <th class="formacionFecha"><p></p></th>
                            <th  class="conPadding"><p>{{this.empresa3}}</p></th>
                        </tr>
                        <tr>
                            <th class="formacionFecha"><p></p></th>
                            <th  class="conPadding"><p>{{this.descripcion3}}</p></th>
                        </tr>
                    </table>

                    <h2 class="margen">Formación</h2>
                    <hr>
                    <table>
                        <tr>
                            <th class="formacionFecha"><p>{{this.finalizado}}</p></th>
                            <th  class="conPadding"><p>{{this.carrera}}</p></th>
                        </tr>
                        <tr>
                            <th class="formacionFecha"><p></p></th>
                            <th  class="conPadding"><p>{{this.instituto}}</p></th>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <th class="formacionFecha"><p>{{this.finalizado2}}</p></th>
                            <th  class="conPadding"><p>{{this.carrera2}}</p></th>
                        </tr>
                        <tr>
                            <th class="formacionFecha"><p></p></th>
                            <th  class="conPadding"><p>{{this.instituto2}}</p></th>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <th class="formacionFecha"><p>{{this.finalizado3}}</p></th>
                            <th  class="conPadding"><p>{{this.carrera3}}</p></th>
                        </tr>
                        <tr>
                            <th class="formacionFecha"><p></p></th>
                            <th  class="conPadding"><p>{{this.instituto3}}</p></th>
                        </tr>
                    </table>
                {{/each}}
            </div>
        </form>
    </div>
</main>



