<link rel="stylesheet" href="../css/mixto.css">
<title>Diseño Mixto</title>

<header>
    <a class="otro" href="/elegirPlantilla/soloElegirPlantilla">⤺Cambiar diseño</a>
    <a class="otro" href="/elegirPlantilla/imprimirMixto">⭳Descargar</a>
</header>

<main>
    <div class="container">
        <form action="" method="get">
            <div class="nombre">
                {{#each personal}}
                    <h1>{{this.nombre}} {{this.apellido}}</h1>
                {{/each}}
            </div>
            <div class="izquierda">
                {{#each user}}
                    <img src="../img/perfiles/{{this.imagen}}" class="perfilImg">
                {{/each}}

                {{#each personal}}
                    <h2>Datos personales</h2>
                    <hr>
                    <table>
                        <tr>
                            <th class="icon"><p>Nombre</p></th>
                        </tr>
                        <tr>
                            <th><p><p>{{this.nombre}} {{this.apellido}}</p></p></th>
                        </tr>
                    </table>
                {{/each}}
                {{#each user}}
                    <table>
                        <tr>
                            <th class="icon"><p>Correo electrónico</p></th>
                        </tr>
                        <tr>
                            <th><p>{{this.email}}</p></th>
                        </tr>
                    </table>
                {{/each}}
                {{#each personal}}
                    <table>
                        <tr>
                            <th class="icon"><p>Telefono</p></th>
                        </tr>
                        <tr>
                            <th><p>{{this.telefono}}</p></th>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <th class="icon"><p>Dirección</p></th>
                        </tr>
                        <tr>
                            <th><p>{{this.calle}} {{this.altura}}, {{this.pais}}</p></th>
                        </tr>
                    </table>
                {{/each}}
            
                {{#each laboralData}}
                    <h2>IDIOMAS</h2>    
                    <hr>
                    <ul>
                        <li>
                            <table>
                                <tr>
                                    <th><p>{{this.idioma}}</p></th>
                                    <th class="alineacionFin"><p>{{this.nivel}}</p></th>
                                </tr>
                            </table>
                        </li>
                        <li>
                            <table>
                                <tr>
                                    <th><p>{{this.idioma2}}</p></th>
                                    <th class="alineacionFin"><p>{{this.nivel2}}</p></th>
                                </tr>
                            </table>
                        </li>
                        <li>
                            <table>
                                <tr>
                                    <th><p>{{this.idioma3}}</p></th>
                                    <th class="alineacionFin"><p>{{this.nivel3}}</p></th>
                                </tr>
                            </table>
                        </li>
                    </ul>
                {{/each}}
            </div>

            <div class="derecha"> 
                <h2 class="titulo">Perfíl</h2>
                <hr>
                {{#each descripcionData}}
                    <p class="pDescripcion">{{this.descripcionPerfil}}</p>
                {{/each}}
            
                {{#each laboralData}}
                    <h2 class="margen">Experiencia</h2>
                    <hr>
                    <table>
                        <tr>
                            <th class="formacionFecha"><p>{{this.desde}} - {{this.hasta}}</p></th>
                            <th  class="conPadding"><p>{{this.puesto}}</p></th>
                        </tr>
                        <tr>
                            <th class="formacionFecha"><p></p></th>
                            <th  class="conPadding"><p>{{this.empresa}}</p></th>
                        </tr>
                        <tr>
                            <th class="formacionFecha"><p></p></th>
                            <th  class="conPadding"><p>{{this.descripcion}}</p></th>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <th class="formacionFecha"><p>{{this.desde2}} - {{this.hasta2}}</p></th>
                            <th  class="conPadding"><p>{{this.puesto2}}</p></th>
                        </tr>
                        <tr>
                            <th class="formacionFecha"><p></p></th>
                            <th  class="conPadding"><p>{{this.empresa2}}</p></th>
                        </tr>
                        <tr>
                            <th class="formacionFecha"><p></p></th>
                            <th  class="conPadding"><p>{{this.descripcion2}}</p></th>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <th class="formacionFecha"><p>{{this.desde3}} - {{this.hasta3}}</p></th>
                            <th  class="conPadding"><p>{{this.puesto3}}</p></th>
                        </tr>
                        <tr>
                            <th class="formacionFecha"><p></p></th>
                            <th  class="conPadding"><p>{{this.empresa3}}</p></th>
                        </tr>
                        <tr>
                            <th class="formacionFecha"><p></p></th>
                            <th  class="conPadding"><p>{{this.descripcion3}}</p></th>
                        </tr>
                    </table>

                    <h2 class="margen">Formación</h2>
                    <hr>
                    <table>
                        <tr>
                            <th class="formacionFecha"><p>{{this.finalizado}}</p></th>
                            <th  class="conPadding"><p>{{this.carrera}}</p></th>
                        </tr>
                        <tr>
                            <th class="formacionFecha"><p></p></th>
                            <th  class="conPadding"><p>{{this.instituto}}</p></th>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <th class="formacionFecha"><p>{{this.finalizado2}}</p></th>
                            <th  class="conPadding"><p>{{this.carrera2}}</p></th>
                        </tr>
                        <tr>
                            <th class="formacionFecha"><p></p></th>
                            <th  class="conPadding"><p>{{this.instituto2}}</p></th>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <th class="formacionFecha"><p>{{this.finalizado3}}</p></th>
                            <th  class="conPadding"><p>{{this.carrera3}}</p></th>
                        </tr>
                        <tr>
                            <th class="formacionFecha"><p></p></th>
                            <th  class="conPadding"><p>{{this.instituto3}}</p></th>
                        </tr>
                    </table>
                {{/each}}
            </div>
        </form>
    </div>
</main>



