<style>
    *{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
main{
    min-width: 1240px;
    max-width: 1240px;
    height: 1380px;
    min-height: 1380px;
    margin-left: auto;
    margin-right: auto;
}
.container{
    height: 100%;
}
.izquierda{
    text-align: center;
    float: left;
    width: 35%;
    height: 100%;
    padding: 10vh;
    color: white;
    background-color:rgb(92, 88, 88);
}
.izquierda h2{
    font-weight: bolder;
    margin-bottom: 2vh;
    margin-top: 2vh;
    text-align: start;
}
.datos{
    font-weight: lighter;
}
img{
    width: 100%;
    border-radius: 50%;
    margin-bottom: 3vh;
    background-color: rgb(158, 153, 153);
}
.apellido{
    margin-bottom: 7vh;
}
.derecha{
    float: right;
    width: 65%;
    height: 100%;
    text-align: justify;
    padding-top: 2vh;
    padding-right: 10vh;
    padding-left: 6vh;
    color: black;
}
.derecha table{
    padding-bottom: 4vh;
}
.black{
    color: rgb(57, 55, 55);;
}
.titulo{
    text-align: start;
}
.derecha h2, h3{
    text-align: start;
}
hr{
    margin-top: 6vh;
    margin-bottom: 1vh;
}
li{
    list-style: none;
}
table{
    width: 100%;
    height: auto;
    margin-bottom: 3vh;
}
.alineacionFin{
    text-align: end;
    float: right;
}
.nombre{
    color: rgb(92, 88, 88);
}
p{
    text-align: start;
    font-size: 20px;
}
.margen{
    margin-bottom: 3vh;
}
</style>


<title>Diseño Moderno3</title>
<main>
    <div class="container">
        <form action="" method="get">
            <div class="izquierda">
                {{#each user}}
                    <img src="../img/perfiles/{{this.imagen}}">
                    <hr>
                {{/each}}

                <h2>PERFÍL PROFESIONAL</h2>
                {{#each descripcionData}}
                    <p>{{this.descripcionPerfil}}</p>
                <hr>
                {{/each}}

                <h2>IDIOMAS</h2>
                {{#each laboralData}}
                    <ul>
                        <li>
                            <table>
                                <tr>
                                    <th><p>{{this.idioma}}</p></th>
                                    <th class="alineacionFin"><p>{{this.nivel}}</p></th>
                                </tr>
                            </table>
                        </li>
                        <li>
                            <table>
                                <tr>
                                    <th><p>{{this.idioma2}}</p></th>
                                    <th class="alineacionFin"><p>{{this.nivel2}}</p></th>
                                </tr>
                            </table>
                        </li>
                        <li>
                            <table>
                                <tr>
                                    <th><p>{{this.idioma3}}</p></th>
                                    <th class="alineacionFin"><p>{{this.nivel3}}</p></th>
                                </tr>
                            </table>
                        </li>
                    </ul>
                {{/each}}
            </div>

            <div class="derecha">
                {{#each personal}}
                    <h1 class="titulo nombre">{{this.nombre}}</h1>
                    <h1 class="titulo apellido">{{this.apellido}}</h1>
                    <h3 class="tituloIzq">Tel: {{this.telefono}}</h3>
                {{/each}}
                {{#each user}}
                    <h3 class="tituloIzq">{{this.email}}</h3>
                {{/each}}
                {{#each personal}}
                    <h3 class="tituloIzq">{{this.calle}} {{this.altura}}</h3>
                    <h3 class="tituloIzq">{{this.pais}}</h3>
                    <hr>
                {{/each}}

                <h2 class="margen">EXPERIENCIA LABORAL</h2>
                {{#each laboralData}}
                    <table>
                        <tr>
                            <h3>{{this.desde}} - {{this.hasta}}</h3>
                        </tr>
                        <tr>
                            <td><h3>{{this.empresa}}</h3></td>
                        </tr>
                        <tr>
                            <th><h3 class="black">{{this.puesto}}</h3></th>
                        </tr>
                        <tr>
                            <td><p>{{this.descripcion}}</p></th>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <h3>{{this.desde2}} - {{this.hasta2}}</h3>
                        </tr>
                        <tr>
                            <td><h3>{{this.empresa2}}</h3></td>
                        </tr>
                        <tr>
                            <th><h3 class="black">{{this.puesto2}}</h3></th>
                        </tr>
                        <tr>
                            <td><p>{{this.descripcion2}}</p></th>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <h3>{{this.desde3}} - {{this.hasta3}}</h3>
                        </tr>
                        <tr>
                            <td><h3>{{this.empresa3}}</h3></td>
                        </tr>
                        <tr>
                            <th><h3 class="black">{{this.puesto3}}</h3></th>
                        </tr>
                        <tr>
                            <td><p>{{this.descripcion3}}</p></th>
                        </tr>
                    </table>
                    <hr>

                    <h2 class="margen">FORMACIÓN ACADÉMICA</h2>
                    <table>
                        <tr>
                            <h3>{{this.finalizado}}</h3>
                        </tr>
                        <tr>
                            <td><h3>{{this.instituto}}</h3></td>
                        </tr>
                        <tr>
                            <th><h3 class="black">{{this.carrera}}</h3></th>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <h3>{{this.finalizado2}}</h3>
                        </tr>
                        <tr>
                            <td><h3>{{this.instituto2}}</h3></td>
                        </tr>
                        <tr>
                            <th><h3 class="black">{{this.carrera2}}</h3></th>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <h3>{{this.finalizado3}}</h3>
                        </tr>
                        <tr>
                            <td><h3>{{this.instituto3}}</h3></td>
                        </tr>
                        <tr>
                            <th><h3 class="black">{{this.carrera3}}</h3></th>
                        </tr>
                    </table>
                {{/each}}
            </div>
        </form>
    </div>
</main>



