<style>
    *{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
main{
    min-width: 1240px;
    max-width: 1240px;
    height: 1380px;
    min-height: 1380px;
    margin-left: auto;
    margin-right: auto;
}
.container{
    height: 100%;
}
.header{
    width: 100%;
    min-width: 100%;
    height: 250px;
    min-height: 35vh;
    background-color: rgb(4, 173, 122);
}
p{
    font-size: 20px;
}
.headerIzq{
    width: 25%;
    min-width: 25%;
    float: left;
    height: 100%;
    min-height: 100%;
    text-align: center;
}
.headerDer{
    float: right;
    color: white;
    width: 75%;
    min-width: 75%;
    height: 100%;
    min-height: 100%;
    padding: 5vh;
}
.headerDer h1{
    color: white;
    font-size: 6vh;
    margin-bottom: 3vh;
    margin-left: 0%;
}
.headerDer p{
    color: white;
}
.headerDer hr{
    width: 9%;
    color: rgb(74, 72, 72);
    height: 1px;
    background-color: rgb(74, 72, 72);
    margin-bottom: 3vh;
    border: none;
}
.header img{
    width: 100%;
    height: 100%;
}
.izquierda{
    text-align: start;
    float: left;
    min-width: 25%;
    width: 25%;
    height: 100%;
    min-height: 100%;
    background-color: rgba(185, 8, 8, 0.872);
}
.izquierda img{ 
    width: 100%;
    background-color: rgb(158, 153, 153);
}
.izquierda h2{
    color: white;
    font-weight: bolder;
    margin-bottom: 30px;
    margin-top: 4vh;
    text-align: start;
    padding-left: 4vh;
    margin-right: 4vh;
}
.izquierda th{
    padding-left:4vh;
    margin-right: 4vh;
    color: white;
}
.izquierda table{
    padding-bottom: 25px;
}
.tableContacto th{
    padding-top: 3vh;
}
.datos{
    color: rgb(57, 55, 55);
    font-weight: lighter;
}
.tituloIzq{
    color: black;
    font-weight: bolder;
    margin-top: 2vh;
}
.derecha{
    float: right;
    width: 75%;
    min-width: 75%;
    height: 100%;
    min-height: 100%;
    background-color: white;
    text-align: justify;
    padding-top: 5vh;
}
.derecha table{
    margin-top: 10px;
}
.borde{
    width: 90%;
    margin-bottom: 30px;
    padding-bottom: 0%;
    margin-left: auto;
    margin-right: auto;
    border-left: 2px solid black;
}
hr{
    width: 90%;
    margin-bottom: 2vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    height: 1.5px;
    border: none;
    background-color: white;    
}
.tarea{
    list-style: circle;
    padding-left: 2vh;
    padding-top: 5vh;
}
.black{
    color: rgb(57, 55, 55);;
}
.titulo{
    text-align: start;
    color: black;
    margin-left: 2vh;
}
.derecha h2{    
    color: rgba(185, 8, 8, 0.872);
    text-align: start;
}
.derecha h3{
    text-align: start;
}
.derecha h1{
    color: rgba(185, 8, 8, 0.872);
    font-weight: bolder;
    font-size: 40px;
    margin-bottom: 40px;
    padding-left: 45px;
}
.margen{
    margin-top: 4vh;
}
li{
    list-style: none;
}
table{
    width: 100%;
    height: auto;
    margin-bottom: 0;
}
.icon1,.icon2, .icon3{
    width: 40px;
}
.alineacionFin{
    text-align: end;
    float: right;
}
p{
    text-align: start;
}
.borde img{
    background-color: rgb(46, 44, 44);
    padding: 5px;
    width: 100%;
}
.borde h2{
    margin-left: 10px;
    padding-bottom: 20px;
}
.borde p, .borde h3{
    padding-left: 20px;
}
</style>


<title>Diseño Moderno2</title>
<main>
    <div class="container">
        <form action="" method="get">
            <div class="izquierda">
                {{#each user}}
                    <img src="../img/perfiles/{{this.imagen}}">
                {{/each}}

            <h2>CONTACTO</h2>
                {{#each personal}}
                    <table>
                        <tr>
                            <th><img src="../img/Iconos/geo.svg"></th>
                            <th><p>{{this.calle}} {{this.altura}}, {{this.pais}}</p></th>
                        </tr>
                        <tr class="tableContacto">
                            <th><img src="../img/Iconos/tel.svg"></th>
                            <th><p>{{this.telefono}}</p>
                        </tr>
                {{/each}}
                        {{#each user}}
                            <tr class="tableContacto">
                                <th><img src="../img/Iconos/mail.svg"></th>
                                <th><p>{{this.email}}</p></th>
                            </tr>
                        {{/each}}
                    </table>
                <hr>

                <h2>IDIOMAS</h2>
                {{#each laboralData}}
                    <ul>
                        <li>
                            <table>
                                <tr>
                                    <th><p>{{this.idioma}}</p></th>
                                    <th class="alineacionFin"><p>{{this.nivel}}</p></th>
                                </tr>
                            </table>
                        </li>
                        <li>
                            <table>
                                <tr class="tableContacto">
                                    <th><p>{{this.idioma2}}</p></th>
                                    <th class="alineacionFin"><p>{{this.nivel2}}</p></th>
                                </tr>
                            </table>
                        </li>
                        <li>
                            <table>
                                <tr class="tableContacto">
                                    <th><p>{{this.idioma3}}</p></th>
                                    <th class="alineacionFin"><p>{{this.nivel3}}</p></th>
                                </tr>
                            </table>
                        </li>
                    </ul>
                {{/each}}
            </div>

        <div class="derecha">
            {{#each personal}}
                <h1>{{this.nombre}} {{this.apellido}}</h1>
            {{/each}}
            <div class="borde">
                <table>
                    <tr>
                        <th class="icon1"><img src="../img/Iconos/card-checklist.svg""></th>
                        <th><h2 class="margen">PERFÍL</h2></th>     
                    </tr>
                </table>
                <table>
                    {{#each descripcionData}}
                        <tr>
                            <th><h3 class="black">{{this.descripcionPerfil}}</h3></th>
                        </tr>
                    {{/each}}            
                </table>
            </div>

            <div class="borde">
                <table>
                    <tr>
                        <th  class="icon2"><img src="../img/Iconos/briefcase-fill.svg"></th>
                        <th><h2 class="margen">EXPERIENCIA LABORAL</h2></th>
                    </tr>
                </table>
                <table>
                    {{#each laboralData}}
                        <tr>
                            <th><h3 class="black">{{this.puesto}}</h3></th>
                        </tr>
                        <tr>
                            <td><h3>{{this.empresa}} | {{this.desde}} - {{this.hasta}}</h3></td>
                        </tr>
                        <tr class="tareas">
                            <ul>
                                <li>
                                    <td><p>{{this.descripcion}}</p></td>
                                </li>
                            </ul>
                        </tr>
                </table>
                <table>
                    <tr>
                        <th><h3 class="black">{{this.puesto2}}</h3></th>
                    </tr>
                    <tr>
                        <td><h3>{{this.empresa2}} | {{this.desde2}} - {{this.hasta2}}</h3></td>
                    </tr>
                    <tr class="tareas">
                        <ul>
                            <li>
                                <td><p>{{this.descripcion2}}</p></td>
                            </li>
                        </ul>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th><h3 class="black">{{this.puesto3}}</h3></th>
                    </tr>
                    <tr>
                        <td><h3>{{this.empresa3}} | {{this.desde3}} - {{this.hasta3}}</h3></td>
                    </tr>
                    <tr class="tareas">
                        <ul>
                            <li>
                                <td><p>{{this.descripcion3}}</p></td>
                            </li>
                        </ul>
                    </tr>
                </table>
            </div>

            <div class="borde">
                <table>
                    <tr>
                        <th  class="icon3"><img src="../img/Iconos/mortarboard-fill.svg"></th>
                        <th><h2 class="margen">FORMACIÓN ACADÉMICA</h2></th>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th><h3 class="black">{{this.carrera}}</h3></th>
                    </tr>
                    <tr>
                        <td><h3>{{this.instituto}} - {{this.finalizado}}</h3></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th><h3 class="black">{{this.carrera2}}</h3></th>
                    </tr>
                <tr>
                    <td><h3>{{this.instituto2}} - {{this.finalizado2}}</h3></td>
                </tr>
                </table>
                <table>
                    <tr>
                        <th><h3 class="black">{{this.carrera3}}</h3></th>
                </tr>
                <tr>
                    <td><h3>{{this.instituto3}} - {{this.finalizado3}}</h3></td>
                </tr>
                </table>
            </div>
            {{/each}}
        </div>
        </form>
    </div>
</main>



